<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/books">The Books</a></li>
    <li><a href="/post">Make A Post</a></li>
    <li><a href="/signout">Signout</a></li>
    <li><a href="/signup">Sign Up!</a></li>
    <li><a href="/store">Store</a></li>
  </ul>
</nav>