
<h1> J. R. R. Tolkien</h1>

<img src="tolkien.jpg" alt="tolkien">

<br>
<br>
<br>
<br>

<p> John Ronald Reuel Tolkien, (3 January 1892 – 2 September 1973) was an English writer, poet, philologist, and university professor who is best known as the author of the classic high fantasy works The Hobbit, The Lord of the Rings, and The Silmarillion.</p>

<p>He served as the Rawlinson and Bosworth Professor of Anglo-Saxon and Fellow of Pembroke College, Oxford, from 1925 to 1945 and Merton Professor of English Language and Literature and Fellow of Merton College, Oxford, from 1945 to 1959. He was at one time a close friend of C. S. Lewis—they were both members of the informal literary discussion group known as the Inklings. Tolkien was appointed a Commander of the Order of the British Empire by Queen Elizabeth II on 28 March 1972. </p>

<p> After Tolkiens death, his son Christopher published a series of works based on his fathers extensive notes and unpublished manuscripts, including The Silmarillion. These, together with The Hobbit and The Lord of the Rings, form a connected body of tales, poems, fictional histories, invented languages, and literary essays about a fantasy world called Arda and Middle-earth[b] within it. Between 1951 and 1955, Tolkien applied the term legendarium to the larger part of these writings.</p>

<p> While many other authors had published works of fantasy before Tolkien,[3] the great success of The Hobbit and The Lord of the Rings led directly to a popular resurgence of the genre. This has caused Tolkien to be popularly identified as the father of modern fantasy literature[4][5]—or, more precisely, of high fantasy.[6] In 2008, The Times ranked him sixth on a list of The 50 greatest British writers since 1945. Forbes ranked him the 5th top-earning dead celebrity in 2009. </p>

<br>
<br>


<h1> The Books </h1>
<br>
<br>

<h2>The Hobbit</h2>
<p>Tolkien never expected his stories to become popular, but by sheer accident a book called The Hobbit, which he had written some years before for his own children, came in 1936 to the attention of Susan Dagnall, an employee of the London publishing firm George Allen & Unwin, who persuaded Tolkien to submit it for publication.[98] When it was published a year later, the book attracted adult readers as well as children, and it became popular enough for the publishers to ask Tolkien to produce a sequel.</p>

<h2>The Lord of the Rings</h2>
<p>The request for a sequel prompted Tolkien to begin what would become his most famous work: the epic novel The Lord of the Rings (originally published in three volumes 1954–1955). Tolkien spent more than ten years writing the primary narrative and appendices for The Lord of the Rings, during which time he received the constant support of the Inklings, in particular his closest friend C. S. Lewis, the author of The Chronicles of Narnia. Both The Hobbit and The Lord of the Rings are set against the background of The Silmarillion, but in a time long after it. </p>

<p>Tolkien at first intended The Lord of the Rings to be a childrens tale in the style of The Hobbit, but it quickly grew darker and more serious in the writing. Though a direct sequel to The Hobbit, it addressed an older audience, drawing on the immense backstory of Beleriand that Tolkien had constructed in previous years, and which eventually saw posthumous publication in The Silmarillion and other volumes. Tolkiens influence weighs heavily on the fantasy genre that grew up after the success of The Lord of the Rings.</p>

<h2> The Silmarillion </h2>

<p> Tolkien wrote a brief Sketch of the Mythology, which included the tales of Beren and Lúthien and of Túrin; and that sketch eventually evolved into the Quenta Silmarillion, an epic history that Tolkien started three times but never published. Tolkien desperately hoped to publish it along with The Lord of the Rings, but publishers (both Allen & Unwin and Collins) declined. Moreover, printing costs were very high in 1950s Britain, requiring The Lord of the Rings to be published in three volumes.[163] The story of this continuous redrafting is told in the posthumous series The History of Middle-earth, edited by Tolkiens son, Christopher Tolkien. From around 1936, Tolkien began to extend this framework to include the tale of The Fall of Númenor, which was inspired by the legend of Atlantis.</p>

<p>Tolkien had appointed his son Christopher to be his literary executor, and he (with assistance from Guy Gavriel Kay, later a well-known fantasy author in his own right) organized some of this material into a single coherent volume, published as The Silmarillion in 1977. It received the Locus Award for Best Fantasy novel in 1978.</p>

<h2>The Children of Húrin</h2>
<p>In 2007, The Children of Húrin was published by HarperCollins (in the UK and Canada) and Houghton Mifflin (in the US). The novel tells the story of Túrin Turambar and his sister Nienor, children of Húrin Thalion. The material was compiled by Christopher Tolkien from The Silmarillion, Unfinished Tales, The History of Middle-earth, and unpublished manuscripts.</p>

<h2>Beren and Lúthien</h2>
<p>The Tale of Beren and Lúthien is one of the oldest and most often revised in Tolkiens legendarium. The story is one of three contained within The Silmarillion which Tolkien believed to warrant their own long-form narratives. It was published as a standalone book, edited by Christopher Tolkien, under the title Beren and Lúthien in 2017.</p>

<h2>The Fall of Gondolin</h2>
<p>The Fall of Gondolin is a tale of a beautiful, mysterious city destroyed by dark forces, which Tolkien called "the first real story" of Middle-earth, was published on 30 August 2018[173] as a standalone book, edited by Christopher Tolkien and illustrated by Alan Lee.</p>

<h1> And Many More...</h1>