
<h2> Welcome to Morgoths Ring!</h2>
<img src="morgoth.jpg" id="morgoth" alt="morgoth">
<br>
<br>
<div class ="loginPlease">
<form class="ui form" method="POST" action="/loggedin">
  <h2>Login</h2>
  <div >
      <div class="field">
      <label>Username</label>
      <input required type="text" name="username">
    </div>
    <div class="field">
      <label>Email</label>
      <input required type="text" name="email">
    </div>

    <div class="field">
      <label>Password</label>
      <input required type="password" name="password">
    </div>
  </div>

  <button id= "login" class="button" type="submit">Submit</button>
</form>
</div>
</div>

<h2 class="centerOr"> Or </h2> 

<h2 class="rightSignUp"> Sign Up!</h2>
<div class="right">

<form class="ui form" method="GET" action="/signup">
  

  <button class="rightSignUpButton" type="submit">Sign Up</button>
</form>
</div>
