
<h2 class="shallNot"> YOU SHALL NOT PASS! </h2>
<a href= "/"> <h2 class="notAllowedText"> Please Sign In To Continue </h2> </a>

<a href="/" ><img class="notAllowed" src="stopLogin.jpg" alt="please login"></a>
